
body {background-color:grey;}

div#menu {  
        background-color:red; 
	margin:10px;
	padding:0;
        float:left;
	}

div#menu  li{
	margin:2px;
	padding:2px;
	border:1px solid#CCCCCC;
	}

div#articulo{
        background-color:purple; 
	margin:10px;
	padding:0;
        float:left;
         
       }
        